<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>
<body>
	<!-- Header -->
	<%- include("./partials/header") %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="images/banner_kaye.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3"></div>
			<% producto.forEach(function(product) { %>
				 
				<a href="/product/detalle/<%= product.id %>">
					<figure class="product-box_image">
						<img src="<%= product.imagen %>" alt="foto de producto">
					</figure>
					<article class="product-box_data">
						<h2 class="negro" > <%= product.nombre %></h2>
						<p> Cargado por: <%= product.usuario.email %></p>
					</article>
					
				</a>
			
			<% }) %> 
			</div>
				
			
		</div>
	</div>


	<!-- footer -->
  <%- include("./partials/footer") %>
	<!-- /footer -->
</body>	
</html>